@model HandleErrorInfo

@{
    ViewBag.Title = "ErrorViewPage";
}

<div class="alert-danger text-center" >
    <h2>ErrorViewPage in Finance Page</h2>

    <h3>Error @Model.Exception.Message </h3>
</div>



