@keyframes fadeIn{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0.8;
    }
    40%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.1;
    }
}


.img{
    transition: all 2s;
    cursor: pointer;
}
.img:hover{
    animation-duration: 2s ;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out ;
    opacity: 0;
}
