.header img{
    width: 150px;
    height: 150px;
}


.header img{
    width: 150px;
    height: 150px;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    top: -20px;
    margin-left: 50%;
    
}

@media (max-width:576px ){
    
    .header img{
        width: 100px;
        height: 100px;
    }
    .icons > div{
        margin-left: 25px;
    }
    .icons > div:nth-of-type(2){margin-left: 0;}
    
    .icons > div:first-of-type{
        margin-left: 35%;
        margin-bottom: 20px;
    }
}

@media (min-width:768px) and (max-width:992px){
    .icons > div{
        margin-left: 45px;
    }
    
}