@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center" style="margin-top:50px"> Welcome Page </h1>


<div class="Routes container " style="margin-top:100px; width:50%; ">
    <a class="btn btn-block bg-info" style="margin-top: 20px; color: darkcyan; font-size: 18px; font-weight: bold; padding: 10px" href="/Home/GetAllCars"> Get All  Cars </a>
    <a class="btn btn-block bg-info" style="margin-top: 20px; color: darkcyan; font-size: 18px; font-weight: bold; padding: 10px" href="/Home/Add" > Add New Car </a>
   
</div>

