body{
    background-color: rgb(28, 28, 28);
    color: white;
}

.WelcomePage {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ProfileImage > img{
    width: 70px;
    height: 70px; 
    position: absolute;
    margin-top: 20px;
    left: 48%;
    z-index: 1000;
 }

 
.WelcomePage .Container{
    box-shadow: -1px 2px 7px rgb(76, 76, 76);
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;

}
.WelcomePage .Container .Content{
    margin-top: 50px;
    align-self: flex-start;
    width: 100%;
}


.WelcomePage .Container .Content h4 ,
.WelcomePage .Container .Content p
{display: inline-block;}

.WelcomePage .Container .Content p{
    color: #52BD8F;
}

.WelcomePage .Header h4{
    color: chocolate;
}