body{
    background-color: rgb(28, 28, 28);
    color: white;

}

.Header{
    text-align: center;
    margin-top: 5%;
}

.Header > h1{
    color: chocolate;
}

.Register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 15px;
}

.Register .FormContainer{
    box-shadow: -1px 2px 7px rgb(76, 76, 76);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 50vh;
    width: 25%;
    padding: 10px;
}

.Register .FormContainer > div{
    padding-bottom: 10px;
}

.Register .FormContainer  label{
    display: block;
    color: chocolate;
    margin: 5px;
}

.Register .FormContainer  textarea{
    width: 200px;
}

input,textarea{
    background-color : #333;
    border: 0;
    padding: 5px;
}



/** btnSubmit */
.btnSubmit{
    background-color: chocolate;
    width: 30%;
    align-self: flex-end;
    margin-top: 25px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: white  ;
    cursor: pointer;
}

.btnSubmit:hover{
    background-color: #333;
}