
@{
    ViewBag.Title = "ViewDetails";
}

<h2 class="text-center">ViewDetails</h2>

<h3> Your ID is :  @ViewData["id"]  </h3>
<h3> Your Name is :  @ViewData["name"] </h3>
<img src=@ViewData["imgNumber"]  style="width:200px ;height:200px"/>



