@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4" style="margin:100px">
        @Html.ActionLink("View Admin Page", "Index", "Admin", new { area = "Admin" }, new { @class = "btn btn-danger", @style = "margin=20px" })

        <br />
        <br />
        @Html.ActionLink("View Finance Page", "Index", "Finance", new { area = "Finance" }, new { @class = "btn btn-success", @style = "margin=20px" })
        <br />
        <br />

        @Html.ActionLink("View HR Page", "Index", "Employees", new { area = "HR" }, new { @class = "btn btn-primary", @style = "margin=20px" })

    </div>

   

</div>